<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.saisujan.clawdbot.24h</string>

    <key>ProgramArguments</key>
    <array>
        <string>/Users/saisujan/Desktop/internships_apply/clawdbot_automation/job-applications/run_24h.sh</string>
    </array>

    <key>StartInterval</key>
    <integer>10800</integer>

    <key>RunAtLoad</key>
    <false/>

    <key>StandardOutPath</key>
    <string>/Users/saisujan/Desktop/internships_apply/clawdbot_automation/job-applications/launch_agent.stdout</string>

    <key>StandardErrorPath</key>
    <string>/Users/saisujan/Desktop/internships_apply/clawdbot_automation/job-applications/launch_agent.stderr</string>
    
    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
    </dict>
</dict>
</plist>
