<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.clawdbot.jobscraper</string>
    <key>ProgramArguments</key>
    <array>
        <string>/bin/bash</string>
        <string>/Users/saisujan/Desktop/internships_apply/clawdbot_automation/job-applications/run_24h.sh</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>StartCalendarInterval</key>
    <dict>
        <key>Hour</key>
        <integer>9</integer>
        <key>Minute</key>
        <integer>0</integer>
    </dict>
    <key>StandardOutPath</key>
    <string>/Users/saisujan/Desktop/internships_apply/clawdbot_automation/job-applications/launchd_output.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/saisujan/Desktop/internships_apply/clawdbot_automation/job-applications/launchd_error.log</string>
    <key>WorkingDirectory</key>
    <string>/Users/saisujan/Desktop/internships_apply/clawdbot_automation/job-applications</string>
</dict>
</plist>
